#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	install -D -m 644 packaging/desktop/tuxcards.desktop \
	        debian/tuxcards-qt6/usr/share/applications/tuxcards.desktop
	install -D -m 644 src/icons/lo32-app-tuxcards.png \
	        debian/tuxcards-qt6/usr/share/icons/hicolor/32x32/apps/tuxcards.png
	install -D -m 644 src/icons/lo16-app-tuxcards.png \
	        debian/tuxcards-qt6/usr/share/icons/hicolor/16x16/apps/tuxcards.png
